
*{
	box-sizing: border-box;
	text-align: left;
}

body {
	font-size: 18px;
}

header {
	padding: 20px;
	margin-bottom: 20px;
	background: #ffffff;
	border: #cccccc; 
	color: red;
	margin:0;
	border-bottom: solid 3px #777777;
	
}


section {
	padding: 20px
	margin-bottom: 2px;
}


	#name {
		background-color: #4aaaa5;
		position: fixed;
		color: white;
		font-size: 30px;
		float: left; 	
		margin: 0;
		padding: 18px;
		top:0;
		left: 200px;
	
	}

	#about {
		background-color: #ffffff;
		position:relative;
		color: #777777;
		float:right;
		border-right: inset;
		padding:10px;
		margin: 0;
		top:0;
		

	}

	#portfolio {
		background-color: #ffffff;
		color: #777777;
		float:right;
		border-right: inset;
		padding:10px;
	}

	#contact {
		background-color: #ffffff;
		color: #777777;
		float:right;
		padding:10px;


	}


	.full {
		clear:both;
		background-color: #dddddd;
		overflow: auto;
		width: auto;
		margin: 0 auto 0 auto;
		height: 600px

	}

	
	h2 {
		font-size: 24px;
		line-height: 45px color: #777777;
		margin-bottom: 20px;

	}


	p {
		font-size: 16px;
		line-height: 24px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#content {
		background-color: #ffffff;
		width: 600px;
		height: 550px;
		position:absolute;
		top: 100px;
		left: 200px;
		text-align: left;
		color: #777777;
		margin-bottom: 0;


}

aside {
		background-color: #ffffff;
		width:250px;
		height: 300px;
		position: absolute;
		top:100px;
		right:200px;
		color: #777777;

}

footer {
	clear:both;
	background-color: #666666;
	padding: 20px;
	border-top: solid 5px #4aaaa5;
	text-align: center;
	color: #ffffff;
}


	